.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
   flex: 0 0 calc(24% - 30px); 
   margin: 2px;
}

img { 
    border-radius: 8px;
	border: 2px solid #E0E0E0;
	margin: 10px 10px 10px 10px;
}

img:hover {
    border: 2px solid #000;
}

img:active {
	transform: translateY(4px);
}